.container {  
    color: red;
    text-align: center; 
    background-color: lightcyan; 
    font-family: Arial;   
}
.container3{
    margin: auto;
    width: 52.5%;
    border: 3px solid green;
    padding: 10px;
}
.container3{
    background-image: url("cookieB.jpg");
  }