.container {  
    color: red;
    text-align: center; 
    background: url(banner.jpg);
    font-family: Arial;   
}
.container3{
    margin: auto;
    width: 52.5%;
    border: 3px solid green;
    padding: 30px;
}
body{
    background-image: url("cookieB.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

