.container {  
    color: red;
    text-align: center; 
    background: url(banner.jpg);
    font-family: Arial;   
}
body{
    background-image: url("cookieB.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 23%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
  .container2{
    text-align: center; 
    font-family: Arial;
    font-size: large;
  }